<% if sign_in? %>
  <%= form_for(CommentForm.new(Comment.new), remote: true) do |f| %>
    <div class="media">
      <a class="pull-left" href="#">
        <%= image_tag current_user.avatar_url, class: 'media-object' %>
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <%= f.text_field :content, placeholder: 'Write a comment...', class:"form-control"  %>
        </h4>
        <%= f.hidden_field :snack_id, value: snack.id %>
        <%= f.button :submit, class: 'btn btn-success', disable_with: "Saving..." do %>
          <i class="fa fa-comment"></i> Create
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
