<div class="container">
  <div class="snacks-index">
    <h3><i class="fa fa-database"></i> Inventory</h3>
    <ul class="snack-list">
      <% @home.inventories.each do |inventory| %>
      <li>
        <a href="<%= inventory_path(inventory) %>">
          <%= inventory.snack.name %>
        </a>
        <%= render 'vote', snack: inventory.snack %>
      </li>
      <% end %>
    </ul>
    <% if sign_in? %>
    <div class="btn-toolbar">
      <% if sign_in? %>
      <a href="<%= new_inventory_path %>" class="btn btn-success">
        <i class="fa fa-plus"></i> Add Inventory
      </a>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="snacks-index">
    <h3><i class="fa fa-gift"></i> Wish List</h3>
    <ul class="wish-list">
      <% @home.wishes.each do |wish| %>
      <li>
        <a href="<%= wish_path(wish) %>">
          <%= wish.snack.name %>
        </a>
        <%= render 'vote', snack: wish.snack %>
      </li>
      <% end %>
    </ul>
    <% if sign_in? %>
    <div class="btn-toolbar">
      <a href="<%= new_wish_path %>" class="btn btn-success">
        <i class="fa fa-paper-plane-o"></i> Make a Wish
      </a>
    </div>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="snacks-index">
    <h3><i class="fa fa-circle-thin"></i> Finish</h3>
    <ul class="wish-list">
      <% @home.finishes.each do |finish| %>
      <li>
        <a href="<%= finish_path(finish) %>">
          <%= finish.snack.name %>
        </a>
        <%= render 'vote', snack: finish.snack %>
      </li>
      <% end %>
    </ul>
  </div>
</div>